@layer base {
	@font-face {
		font-display: swap;
		font-family: 'Barlow Condensed';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/barlow-condensed-regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/barlow-latin-regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Bellefair';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/bellefair-latin-regular.woff2') format('woff2');
	}

	body {
		@apply bg-primary;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--menu-bg: rgb(255 255 255 / 0.04);
}
