.main {
  max-width: 28.625rem;
}

.title {
  @apply text-2xl;
}

@screen md {
  .title {
    font-size: 2.5rem;
  }
}

@screen lg {
  .main {
    @apply max-w-none;
  }

  .title {
    font-size: 3.5rem;
  }

  .description {
    max-width: 27.75rem;
  }
}