.main {
	background: url('/images/world-bg.webp') no-repeat;
	background-size: cover;
}

.title {
	font-size: 5rem;
}

@screen md {
	.title {
		font-size: 9.375rem;
	}

	.subtitle {
		@apply text-xl;
	}
}

@screen lg {
	.main {
		background: url('/images/world-side.webp') no-repeat right top,
			url('/images/space-bg.webp');
		background-size: auto 100%;
	}

	.wrapper {
		max-height: 53.75rem;
	}

	.subtitle {
		font-size: 1.75rem;
	}
}
