.image {
	margin-bottom: 1.625rem;
	max-width: 10.625rem;
}

.float {
	animation: float 8s ease-in-out infinite;
}

@screen md {
	.image {
		margin-bottom: 3.25rem;
		max-width: 18.75rem;
	}
}

@screen lg {
	.image {
		@apply mb-0;

		max-width: 28rem;
	}
}

@keyframes float {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-1rem);
	}

	100% {
		transform: translateY(0);
	}
}