.title {
	@apply mb-8;
}

.image {
	max-width: 10.625rem;
}

@screen md {
	.image {
		max-width: 18.75rem;
	}

	.title {
		@apply text-xl;

		margin-bottom: 3.75rem;
	}
}

@screen lg {
	.title {
		@apply mb-24;

		font-size: 1.75rem;
	}

	.image {
		max-width: 28rem;
	}
}
